@tailwind base;
@tailwind components;
@tailwind utilities;

#select_search_svelte ul li{
    padding: 3px 10px;
}
#select_search_svelte ul li:hover{
    cursor: pointer;
    background-color: #ccc;
    border-radius: 3px;
}